<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Stories.plist
   CameraSdkDemo

   Created by DN on 8/8/17.
   Copyright (c) 2017 Stickerpipe. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>StoriesAPIKey</key>
        <string>f14ed8ef0f7cd28055872a0b6f8bfb61</string>
    </dict>
</plist>
